<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 解决命名不对称 -->

<!-- 文件路径 -->
<mapper namespace="org.mybatis.StudentMapper">

  <select id="selectAllStudent" resultType="Student">
    select id sid ,sname ,sex , age from student
  </select>
<!-- test -->
</mapper>